@import 'mixins'; 

$breakpoints: (
  "phone":        320px,
  "tablet":       768px,
  "tablet-wide":  1024px,
  "desktop":      1200px,
  "desktop-md":   1440px,
  "desktop-lg":   1600px,
  "desktop-xl":   1920px,
);

$z-index: (
  "ap-progress-bar-dot": 20,
  "ap-progress-bar": 15,
  "audio-player": 10
);

$text-color: #333;
$accent: #ccc;
$primary: #0066cc;
$white: #fff;



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: $text-color;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 1rem;
}


.ap-top {
  background-color: $white;
  border-bottom: 1px solid $accent;
  padding: 1rem;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: .3s ease transform;
  width: 100%;
  z-index: z('audio-player');

  @include mq('tablet') {
    display: none;
  }

  &__title {
    font-weight: 600;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;    
  }

  &__author {
    font-weight: normal;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--show {
    transform: none;
  }
}

.ap-bottom {
  background-color: $white;
  bottom: 0;
  position: fixed;
  transform: translateY(105%);
  transition: .3s ease transform;
  width: 100%;
  z-index: z('audio-player');

    &--show {
      transform: none;
    }
}

.ap-progress-bar {
  background-color: $accent;
  height: 4px;
  width: 100%;
  z-index: z('ap-progress-bar');

  &__dot {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    height: 34px;
    padding: 0;
    position: absolute;
    top: -15px;
    transition: ease .3s transform, ease .3s top, ease .3s opacity;
    width: 34px; 
    z-index: z('ap-progress-bar-dot');

    &::after {
      background-color: $primary;
      border: 0;
      border-radius: 50%;
      content: '';
      cursor: pointer;
      display: block;
      height: 12px;
      padding: 0;
      width: 12px;
    }

    &:focus::after, &:active::after {
      opacity: .7;
      top: -18px;
      transform: scale(3);
    }
  }

  &__color {
    background-color: $primary;
    height: 4px;
    width: 0;
  }

}

.ap-controls-container {
  bottom: 0;
  user-select: none;
  width: 100%;

  @include mq('tablet') {
    display: flex;
    justify-content: space-around;
  }

  &__left {
    @include mq('tablet') {
      width: 30%;
    }
  }

  &__middle {
    @include mq('tablet') {
      width: auto;
    }
  }

  &__right {
    @include mq('tablet') {
      width: 30%;
    }
  }
}

.ap-time {
  align-items: center;
  bottom: 50px;
  display: flex;
  font-size: .8rem;
  height: .85rem;
  justify-content: space-between;
  padding: 0 .5rem;
  position: absolute;
  width: 100%;

  @include mq('tablet') {
    bottom: auto;
    height: auto;
    justify-content: flex-end;
    padding: .5rem .5rem 0;
    position: relative;
    width: auto;
  }

  &__text {
    user-select: none;

    &--current {
      margin-right: .3rem;

      @include mq('tablet') {
        &:after {
          content: ' / ';
        }
      }
    }
  }
}

.ap-bottom-titles {
  display: none;
  font-size: 1rem;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;

  @include mq('tablet') {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
  }

  &__title {
    font-size: .9rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__author {
    font-size: .8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ap-controls {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 100%;

  &__btn {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .7rem;
    padding: 0;
    width: 30px;
    height: 30px;
    transition: .3s ease background-color;

    &:active {
      background-color: $accent;
      outline: none;
    }

    &::moz-focus-inner {
      border: 0;
      outline: 0;
    }

    &:-moz-focusring {
      outline: 0;
      border: 0;
    }

    &:focus {
      border: 0;
      outline: none;
    }


    &--prev {

    }
  
    &--playpause {
      background-color: $primary;
      height: 50px;
      width: 50px;
    }
  
    &--next {
  
    }

    &--skip-back {

    }

    &--skip-forward {

    }

    &--hide {
      display: none;
    }
  }

}

.ap-icon {
  fill: $text-color;
  height: 20px;
  width: 20px;
  margin: 0;

  &--skip10 {
    width: 30px;
    height: 30px;
  }

  &--skip30 {
    width: 30px;
    height: 30px;
  }

  &--advance-prev {
    transform: rotate(180deg);
  }

  &--pause {
    display: none;
    fill: $white;
    height: 30px;
    margin-top: 3px;
    width: 30px;
  }

  &--play {
    display: none;
    fill: $white;
    height: 30px;
    margin-left: 5px;
    margin-top: 0px;
    width: 30px;
  }

  &--show {
    display: inline;
  }
}

$volume-w: 8rem;
$volume-h: .125rem;
$volume-dot-d: .8rem;

.ap-volume {
  &, &::-webkit-slider-thumb {
      -webkit-appearance: none;
  }
  
  background: transparent;
  cursor: pointer; 
  display: none;
  margin: .5rem auto 0;
  padding: 0;
  width: $volume-w; height: $volume-dot-d;
  
  &::-webkit-slider-runnable-track {
      @include track($volume-w, $volume-h, $accent);
  }
  &::-moz-range-track { @include track($volume-w, $volume-h, $accent); }
  &::-ms-track { @include track($volume-w, $volume-h, $accent); }
  
  &::-webkit-slider-thumb {
      margin-top: .5*($volume-h - $volume-dot-d);
      @include thumb($volume-dot-d, $primary);
  }
  &::-moz-range-thumb { @include thumb($volume-dot-d, $primary); }
  &::-ms-thumb {
      margin-top: 0;
      @include thumb($volume-dot-d, $primary);
  }
  
  &::-ms-tooltip { display: none }

  @include mq('tablet') {
    display: block;
  }
}

.ap-audio-file {
  display: block;
  margin-top: 100px;
}